body {
  background-color: #e9edf6;
}

.container__header {
  color: #fff;
  background-color: #3473db;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.50);
  position: relative;

  &:after {
    content: "\f111";
    color: #2e6dd7;
    font-family: "FontMfizz";
    font-size: 1000px;
    position: absolute;
    overflow: hidden;
    height: 100%;
    line-height: 0.2;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }
}

.page-icon {
  font-size: 160px;
  line-height: 1;
  position: relative;
  z-index: 1;
  margin-top: 30px;

  a,
  a:hover {
    color: white;
  }
}

.page-title {
  font-weight: 300;
  font-size: 84px;
  margin: 0;
  position: relative;
  z-index: 1;

  a,
  a:hover {
    color: white;
  }
}
.page-title__sub {
  font-weight: 300;
  font-size: 18px;
  margin: 30px auto;
  position: relative;
  z-index: 1;

  a {
    color: white;
    border-bottom: solid 1px white;
  }
}

.table-container {
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
  margin-bottom: 30px;
}

.table {
  font-size: 1em;
  background-color: #ffffff;
  color: #a6b2c2;
  margin-bottom: 0;

  .table-header {
    background-color: #3473db;
    padding: 12px 25px;
    color: white;
    font-size: 1em;
    font-weight: 700;
  }

  tbody>tr {
    >th {
      background-color: #c9d5e5;
      color: white;
      text-transform: uppercase;
      border-top: 0px;
      border-bottom: 0px;
      font-size: 0.8em;
    }
  }

  tbody>tr>td {
    border-bottom: 0px solid #e6edf5;
    border-top: 2px solid #e6edf5;
    padding: 21px 25px;
  }
}

.tile--shadow {
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.05);
  border-radius: 0;
}

.home-nav {
  tab-size: 18px;
  z-index: 2;
  position: relative;
  float: left;
  margin-left: 25px;
  color: white;
  font-weight: 300;

  &:hover {
    color: #ededed;
  }
}

.home-nav--right {
  @extend .home-nav;
  float: right;
  right: 25px;
  margin-left: 0px;
}

.getting-started,
.getting-started p,
{
  font-size: 16px;
}